<section class="well">
  <p>Feel free to reach out to me!</p>
  <button class="btn btn-info pull-right" data-toggle="collapse" data-target="form.collapse.contact-form">Contact Me</button>
  <form class="collapse contact-form" action="https://docs.google.com/a/brianchu.com/forms/d/19H0X9cpiviJdxyqZRcAcQGsZAtbNOzOuGn3wiOx3UbM/formResponse" method="POST" target="_blank" onsubmit="">
      <label class="control-label" for="entry_562979872">Name:</label>
      <input class="span12" type="text" name="entry.562979872" value="" id="entry_562979872" dir="auto">

      <label class="control-label" for="entry_1424764388">Email (for my reply):</label>
      <input class="span12" type="email" name="entry.1424764388" value="" id="entry_1424764388" dir="auto" placeholder="Required" aria-required="true" required>

      <label class="control-label" for="entry_1142668288">Message:</label>
      <textarea class="span12" name="entry.1142668288" rows="8" cols="0" id="entry_1142668288" dir="auto" placeholder="Required" aria-required="true" required></textarea>
      <label class="checkbox contact-checkbox">
        <input type="checkbox" name="entry.497122630" value="Yes" id="group_497122630_1" checked>Sign up for email updates?
      </label>

    <input type="hidden" name="draftResponse" value="[]">
    <input type="hidden" name="pageHistory" value="0">

        <input type="submit" name="submit" value="Submit" class="btn btn-info pull-right">
  </form>
</section>
