{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  {% include alerts.html %}
  <div class="container-fluid">
    {% include header.html %}
    <div class="row-fluid content-row">
      {% comment %}
      <nav role="navigation" class="span4 offset2 left-col">{% include navigation.html %}</nav>
      {% endcomment %}
      {{ content | expand_urls: root_url }}
    </div>

    {% include footer.html %}
    {% include modals.html %}
  </div>
  {% include after_footer.html %}
</body>
</html>
