{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <div class="container-fluid">
    <header class="row-fluid" role="banner">{% include header.html %}</header>

    <div class="row-fluid content">
      {% comment %}
      <nav role="navigation" class="span4 offset2 sidebar">{% include navigation.html %}</nav>
      {% endcomment %}
      {{ content | expand_urls: root_url }}
    </div>

    <footer role="contentinfo" class="row-fluid footer-row">{% include footer.html %}</footer>
  </div>
  {% include after_footer.html %}
</body>
</html>
