---
layout: default
---
{% include asides.html %}
{% if page.sidebar == false %}
<!-- TODO have yet to handle this case! -->
<section role="article" class="col-md-12 block">
{% else %}
<section role="article" class="col-md-8 block">
{% endif %}
  {% if page.title %}
  <header class="page-header">
    {% comment %}Prefer page.html_title, fall back to page.title; assign to the variable 'title'{% endcomment %}
    {% capture title %}{% if page.html_title %}{{ page.html_title }}{% else %}{{ page.title }}{% endif %}{% endcapture %}
    <h2 class="entry-title">{% if site.titlecase %}{{ title | titlecase }}{% else %}{{ title }}{% endif %}</h2>
    {% if page.date %}<div class="meta">{% include post/date.html %}{{ time }}</div>{% endif %}
  </header>
  {% endif %}
  {{ content }}
  {% unless page.footer == false %}

  {% include asides_bottom.html %}

    <footer>
      {% if page.date or page.author %}<div class="meta">
        {% if page.author %}{% include post/author.html %}{% endif %}
        {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
        {% if page.categories %}{% include post/categories.html %}{% endif %}
      </div>{% endif %}
      {% unless page.sharing == false %}
        {% include post/sharing.html %}
      {% endunless %}
      {% if site.disqus_short_name and page.comments == true %}
      <section>
        <h2>Comments</h2>
        <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
      </section>
      {% endif %}
    </footer>
  {% endunless %}
</section>
{% include asides_bottom.html %}
