---
layout: default
single: true
---
{% include asides.html %}
{% if page.sidebar == false %}
<!-- TODO have yet to handle this case! -->
<section class="hentry col-md-12 block" role="article">
{% else %}
<section class="hentry col-md-8 block" role="article">
{% endif %}
{% include article.html %}
  <footer>
    <div class="meta">
      {% include post/author.html %} on
      {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %} in 
      {% include post/categories.html %}
    </div>
    <ul class="pager">
      {% if page.next.url %}
      <li class="next"><a class="basic-alignment right" href="{{page.next.url}}"
        title="Next Post: {{page.next.title}}">{{page.next.title | truncate:30}}
        &raquo;</a></li>
      {% endif %}
      {% if page.previous.url %}
      <li class="previous"><a class="basic-alignment left"
        href="{{page.previous.url}}" title="Previous Post:
        {{page.previous.title}}">&laquo; {{page.previous.title | truncate:30}}</a></li>
      {% endif %}
      <li class="archives"><a href="/blog/archives">Blog Archives</a></li>
    </ul>

    {% include asides_bottom.html %}

    {% unless page.sharing == false %}
      {% include post/sharing.html %}
    {% endunless %}
    {% if site.disqus_short_name and page.comments == true %}
    <section>
      <h2>Comments</h2>
      <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
    </section>
    {% endif %}
  </footer>
</section>
