---
layout: default
single: true
---
{% include asides.html %}
{% if page.sidebar == false %}
<!-- TODO have yet to handle this case! -->
<section class="hentry span12" role="article">
{% else %}
<section class="hentry span8" role="article">
{% endif %}
{% include article.html %}
  <footer>
    <p class="meta subtext">
      {% include post/author.html %}
      {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
      {% include post/categories.html %}
    </p>
    <ul class="pager">
      {% if page.previous.url %}
      <li class="previous"><a class="basic-alignment left"
        href="{{page.previous.url}}" title="Previous Post:
        {{page.previous.title}}">&laquo; {{page.previous.title}}</a></li>
      {% endif %}
      <li><a href="/blog/archives">Blog Archives</a></li>
      {% if page.next.url %}
      <li class="next"><a class="basic-alignment right" href="{{page.next.url}}"
        title="Next Post: {{page.next.title}}">{{page.next.title}}
        &raquo;</a></li>
      {% endif %}
    </ul>
    {% unless page.sharing == false %}
      {% include post/sharing.html %}
    {% endunless %}
    {% if site.disqus_short_name and page.comments == true %}
    <section>
      <h2>Comments</h2>
      <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
    </section>
    {% endif %}
  </footer>
</section>
