---
layout: default
---
{% unless page.sidebar == false %}
<aside class="span4">
  {% if site.page_asides.size %}
    {% include_array page_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
{% endunless %}

{% if page.sidebar == false %}
<section role="article" class="span12">
{% else %}
<section role="article" class="span8">
{% endif %}
  {% if page.title %}
  <header class="page-header">
    <h2 class="entry-title">{{ page.header }}</h2>
    {% if page.date %}<p class="meta">{% include post/date.html %}{{ time }}</p>{% endif %}
  </header>
  {% endif %}

  <article>
    {{ content }}
  </article>

</section>
