<!--(if target dev)><!-->
<script src="{{ root_url }}/javascripts/libs/jquery-2.0.3.js"></script>
<script src="{{ root_url }}/javascripts/libs/modernizr-2.0.js"></script>
<script src="{{ root_url }}/javascripts/libs/bootstrap.js"></script>
<script src="{{ root_url }}/javascripts/libs/github-widgets.js"></script>
<script src="{{ root_url }}/javascripts/octopress.js"></script>
<script src="{{ root_url }}/javascripts/custom.js"></script>
<!--<!(endif)-->
<!--(if target public)>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="{{ root_url }}/javascripts/libs.js"></script>
<script src="{{ root_url }}/javascripts/custom.js"></script>
<!(endif)-->

