<!--(if target dev)><!-->
<script src="{{ root_url }}/javascripts/libs/jquery-2.0.3.js"></script>
<script src="{{ root_url }}/javascripts/libs/modernizr-2.0.js"></script>
<script src="{{ root_url }}/javascripts/libs/bootstrap.js"></script>
<script src="{{ root_url }}/javascripts/libs/github-widgets.js"></script>
<script src="{{ root_url }}/javascripts/libs/hn.min.js"></script>
<script src="{{ root_url }}/javascripts/octopress.js"></script>
<script src="{{ root_url }}/javascripts/custom.js"></script>
<!--<!(endif)-->
<!--(if target public)>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="{{ root_url }}/javascripts/libs.js"></script>
<script src="{{ root_url }}/javascripts/custom.js"></script>
<!(endif)-->
{% comment %}
IE 9 bug: placeholders do not show properly
{% endcomment %}
<!--[if lte IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-placeholder/2.0.7/jquery.placeholder.min.js"></script>
<![endif]-->
