<footer role="contentinfo" class="row content-row end-footer">
  <ul class="col-md-12 list-inline">
    {% comment %}
    <li><a href="{{ root_url }}/blog/archives">Blog</a></li>
    <li><a href="{{ root_url }}/about/">About</a></li>
    <li><a href="{{ root_url }}/projects/">Projects</a></li>
    {% endcomment %}
    <li><a href="https://github.com/{{ site.github_user }}" title="Github"><i class="fa fa-github-square"></i> bchu</a></li>
    <li><a href="https://twitter.com/{{ site.twitter_user }}" title="Twitter"><i class="fa fa-twitter-square"/></i> @brrrianchu</a></li>
    <li><a href="http://www.linkedin.com/in/{{ site.linkedin_user }}" title="LinkedIn"><i class="fa fa-linkedin-square fa-lg"/></i></a></li>
    {% if site.googleplus_user %}
    <li><a href="https://plus.google.com/{{ site.googleplus_user }}?rel=author" title="Google+"><i class="fa fa-google-plus-square fa-lg"/></i></a></li>
    {% endif %}
    <li><a href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="Subscribe via RSS"><i class="fa fa-rss fa-lg"></i></a></li>
    <li><small><a href="/privacy">Privacy</a></small></li>
  </ul>
</footer>

{% comment %}
<hr>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
{% endcomment %}
