<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png">
{% comment %} https://developers.google.com/fonts/docs/getting_started#Optimizing_Requests {% endcomment %}
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic' rel='stylesheet'>
<!--(if target dev)>Note: no such target, intentional<!-->
<link href='{{ root_url }}/stylesheets/libs/bootstrap.css' rel='stylesheet'>
<link href='{{ root_url }}/stylesheets/libs/fonts/font-awesome.css' rel='stylesheet'>
<!--<!(endif)-->
<!--(if target public)>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css" rel="stylesheet">
<!(endif)-->
