<article data-swiftype-index="true">
{% unless page.no_header %}
  <header class="page-header">
    {% if index %}
      {% capture title %}{% if post.html_title %}{{ post.html_title }}{% else %}{{ post.title }}{% endif %}{% endcapture %}
      <h2 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ title | titlecase }}{% else %}{{ title }}{% endif %}</a></h2>
    {% else %}
      {% capture title %}{% if page.html_title %}{{ page.html_title }}{% else %}{{ page.title }}{% endif %}{% endcapture %}
      <h2 class="entry-title">{% if site.titlecase %}{{ title | titlecase }}{% else %}{{ title }}{% endif %}</h2>
    {% endif %}
    {% unless page.meta == false %}
      <div class="meta">
        {% include post/date.html %}{{ time }}
        {% if site.disqus_short_name and page.comments != false and site.disqus_show_comment_count == true %}
         | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments</a>
        {% endif %}
      </div>
    {% endunless %}
  </header>
{% endunless %}
{% if index %}
  <div class="article-body">{{ content | excerpt }}</div>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
    <footer>
      <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
    </footer>
  {% endif %}
{% else %}
<div class="article-body">{{ content }}</div>
{% endif %}
</article>
