{% if site.swiftype %}
<div id="st-results-container"></div>
<script>
  var Swiftype = window.Swiftype || {};
  (function() {
    Swiftype.key = '{{ site.swiftype }}';
    Swiftype.inputElement = '#st-search-input';
    Swiftype.resultContainingElement = '#st-results-container';
    Swiftype.attachElement = '#st-search-input';
    Swiftype.renderStyle = "overlay";
  }());
</script>
{% endif %}

{% comment %}
The input format:
<form>
  <input type="text" id="st-search-input" class="st-search-input" />
</form>
{% endcomment %}
