// 582 = height of sidebar
// 10px ensures that the sidebar does not overlap with the footer
@media (max-height: 582px + $sidebarAffixMarginTop + 1px + 20px) {
  .affix {
    position: static !important;
  }
  .clear-affix {
    position: absolute !important;
  }
}


// text and code block starts collapsing again - make sidebar elements stack horizontally
@media (max-width: 1445px) {
  figure.code {
    margin:0 !important;
  }
}

@media (max-width: 1015px) {
  .affix {
    position: static;
  }

  .content-row .span8 {
    margin:0 auto;
    padding: 0 20px;
    width: 100%;
    float:none;
    p {
      text-align:justify;
    }
    clear:both;
  }
  header .span8 {
    margin: 0 auto;
  }

  header.row-fluid{
    padding: 3%;
    margin-top: 2%;
  }

  // footer
  .end-footer .span8 {
    text-align: center;
    max-width: none;
  }
  .row-fluid .span4 {
    min-height: 0;
  }
}

@media (max-width: 1015px) and (min-width:676px) {
  .row-fluid aside.span4 {
    width: 100%;
    text-align: center;
  }

  .sidebar-centering section {
    float:left;
    margin-left: 20px;
    width:250px;
    min-height: 165px;
  }
  .sidebar-centering > section:first-child {
    margin-left: 0;
  }

  // Dropdown menu overlay (z-index)
  // outer section
  section.dropdown-wrapper {
    min-height: 0;
    float:left;
  }
  // middle wrapper
  section > .dropdown-wrapper {
    position:relative;
  }
  // inner section
  .dropdown-wrapper section {
    z-index: 3;
    position: absolute;
    margin-left:0;
  }
}

@media (max-width: 937px) {
  .row-fluid {
    margin-top: 20px;
  }

}

// third-aside needs to be wrapped
@media (max-width: 937px) and (min-width:676px) {
  .well {
    margin-bottom: -10px;
  }

  .span4:not(.profile-pic-container) {
    max-width: 600px;
  }

  section.dropdown-wrapper {
    min-height: 120px;
    margin:0;
    width: 100%;
  }
  // middle wrapper
  section > .dropdown-wrapper {
    position:relative;
  }
  .dropdown-wrapper section {
    border-top:0;
    right: 0;
    min-height: 100%;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    box-shadow: inset 1px -2px 2px $sidebarWellShadow !important;
  }
}

@media (max-width: 767px) {
  section.span4.profile-pic-container {
    float:left;
    width: auto;
    position:relative;
    margin-right:25px;
  }
  .row-fluid {
    padding-left:40px;
    padding-right:40px;
  }
  .span4 {
    text-align: left;
  }
  body {
    padding-right: 0;
    padding-left: 0;
  }

}

// Start wrapping code
@media (max-width: 740px) {
  .line-numbers {
    display: none;
  }
  pre code, p code {
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}

// collapse sidebar into a pop-down
@media (max-width: 677px) {

  aside.span4 {
    // display:none !important;
  }
}

@media (max-width: 400px) {
  .row-fluid {
    padding:0;
  }
  header.row-fluid{
    padding: 0 2%;
    margin-top: 0%;
  }
  section.sidebar-nav {
    position: relative;
  }
}