.nav-search {
  i {
    font-weight: bold;
  }
  a {
    padding: 10px 10px 10px 7px;
    color: white;
    text-decoration: none;
  }
  a:hover, a:focus, a:active {
    color: $buttonColor;
  }
  .search-toggle {
    display: none;
  }
  .close-search {
    position: absolute;
    right: 2px;
    top: -6px;
    color: white;
    font-weight: bold;
  }
}

.bottom-asides {
  margin-top: 15px;
  text-align: center;
}

// placed on bottom (responsive) version of asides
.side-responsive {
  display: inline-block;
  margin:0;
  width: 300px;
}

// only <br> elements have this class
// this class is used to responsively trigger line breaks
.break {
  display:none;
}

// Prevent sidebar from being sticky if screen is smaller than sidebar.
// 553 = height of sidebar
// 58px = height of footer, ensures that the sidebar does not overlap with the footer
@media (max-height: 553px + $sideAffixMarginTop + 58px + 15px) {
  .affix {
    position: static !important;
  }
  .clear-affix {
    position: absolute !important;
  }
}

// decrease width of sidebar, expand width of content area
@media (max-width: 1136px) {
  .row .col-md-4 {
    width: 30%; //33.333
  }
  .content-row .col-md-8 {
    width: 70%; //66.667
  }
}

@media (min-width: 1045px) {
// placed on bottom (responsive) version of asides
  .side-responsive {
    display: none;
  }
}

// Collapse rows, anchor navbar to top
@media (max-width: 1044px) {
  body {
    padding-top: $navbarHeight;
  }

  .affix {
    position: static !important;
  }
  .clear-affix {
    position: absolute !important;
  }

  .row {
    margin-top: 20px;
  }
  .content-row .col-md-8 {
    margin:0 auto;
    padding: 30px;
    width: 100%;
    float:none;
  }
  .row .col-md-4 {
    min-height: 0; // collapse sidebars
  }
  header.row {
    padding: 15px;
    text-align: center;
    .col-md-8, .col-md-4 {
      width: auto;
      float:none;
      display:inline-block;
      vertical-align:top;
    }
    .col-md-8 {
      margin: 0 auto;
      text-align: left;
      padding-left: 3%;
    }
  }

  // footer
  .end-footer .col-md-8 {
    text-align: center;
    max-width: none;
  }

  #profile-pic {
    margin-right: 0;
  }

  .side-bar-responsive {
    position: fixed;
    z-index: $zNavDropdown;
    top: 0;
    left:0; //fixes bug where a gap appears to the left
    width: 100%;
  }

  section.side-nav {
    height: $navbarHeight;
    padding:15px;
    margin-bottom: 0;
    width: 100%;
    border:0;
    border-radius: 0;
    background: $navbarBg;
  }
  // placed on normal asides (in the sidebar, not the responsive asides at the bottom)
  .side-nonresponsive {
    display: none;
  }

  .nav-search {
    position: relative;
    top:6px;
    width: 20%;
  }
  .list-group {
    margin:0;
    padding:0;
    .list-group-item {
      margin-right: 0;
      // fixed issue with firefox psuedo elements not getting properly absolutely positioned.
      position: relative;
      display: inline-table;
      float:left;
      width: 20%;
      padding-right: 15px;
      .flat-btn {
        display:table-cell;
        vertical-align: middle !important;
        text-align: left;
        padding:0 0 0 10%;
        font-size: 0.8em;
        width: 100%; // unnecessary, but makes things clear
        height: 40px;
        white-space: normal;
      }
    }
  }
  .icon:before {
    width: 25%;
    top: -8px;
    right: 2px;
  }
}

// button icons disappear
// 440px: menu button appears, so we can reinstate button icons
@media (max-width: 820px) and (min-width: 440px) {
  .list-group .list-group-item {
    .flat-btn {
      padding-left:0;
      text-align: center;
    }
    .icon:before {
      content:'';
    }
  }
}
// search input collapses into a search icon
// bootstrap also does stuff here
@media (max-width: 800px) {
  section.side-nav {
    padding-right: 0;
  }
  .list-group {
    padding-right: 35px; // space for icon
    .list-group-item {
      width: 25%;
    }
  }
  .nav-search {
    width: auto;
    .search-toggle {
      position: relative;
      top: -6px; //reverse of nav-search positioning
      display: inline-block;
    }
    .input-padding-wrapper {
      text-align: right;
      width: 100%;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-right: 65px; //space for "Close"
      display: none;
    }
    input.st-search-input {
      max-width:400px;
      margin-right: 10px;
    }
  }

  body {
    padding-right: 0;
    padding-left: 0;
  }
}

// Start wrapping code
@media (max-width: 740px) {
  .line-numbers {
    display: none;
  }
  pre code, p code, code {
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}

// collapse profile-pic and headline
@media (max-width: 702px) {
  header.row .col-md-4.profile-pic-container {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  header.row .col-md-8 {
    width: 100%;
    text-align: center;
    padding: 0;
  }
   header h3.inline {
    font-size: 22px;
  }
}

@media (max-width: 510px) {
  // split subtitle into two lines
  header .break {
    display: inline;
  }
}

// collapse into menu button
@media (max-width: 440px) {
  body {
    padding-top:0;
  }
  .hide.menu-btn {
    position: fixed;
    z-index: $zMenuBtn; // allows you to click on button
    right: 8px;
    top: 6px;
    border-radius: $buttonBorderRadius;
    padding: 7px;
    padding-bottom: 6px; // manual tweak because button icon is a little empty on the bottom
    background: $fontColor;
    color: white;
    display: block !important;
    box-shadow: 0 0 1px 0 $fontColor;
  }
  header.row {
    padding-top: 15px;
  }
  section.side-nav {
    display: none;
    padding: 10px 0 20px 0;
    height: auto;
  }
  .list-group {
    padding:0 9px 0 0;
    .list-group-item {
      padding-right:0;
      display: table;
      float: none;
      width: $buttonWidth;
      margin-left: auto;
      margin-right: auto;
      .flat-btn {
        vertical-align: middle;
        padding-left: 15%;
      }
      .icon:before {
        right:0;
      }
    }
  }
  .nav-search {
    width: $searchWidth;
    position: static;
    .search-toggle {
      display: none;
    }
    .input-padding-wrapper {
      padding:0;
      display: block;
    }
  }

  // fix bug where code blocks can spill over edge of screen
  li code {
    display: inline;
  }

}

@media (max-width: 400px) {
  header.row {
    padding-left: 0;
    padding-right: 0;
  }
  .content-row .col-md-8 {
    padding: 15px;
    border-left:0;
    border-right:0;
  }
}
