// BEGIN Octopress specific
.sharing, .meta, .pager {
  margin: 20px 0px 20px 0px;
}

.meta {
  margin-top:10px;
}
.pager {
  width: 100%;
  text-align: left;
  li {
    display: inline-block;
    max-width: 48%;
  }
  .next {
    float: right;
    text-align: right;
  }
  .archives {
    display:block;
  }
}
td.code {
  vertical-align:top;
}

.gist .highlight, figure.code .highlight {
  * {
    &::selection {
      background: #b3d4fc;
      text-shadow: none;
    }
  }
}

// Copied from octopress source - bit of a hack
figure.code figcaption {
  text-align: center;
  font-size: 13px;
  line-height: 2em;
  text-shadow: #cbcccc 0 1px 0;
  color: #474747;
  font-weight: normal;
  margin-bottom: 0;
  font-family: "Helvetica Neue", Arial, "Lucida Grande", "Lucida Sans Unicode", Lucida, sans-serif;
  background: #eee image-url("code_bg.png") top repeat-x;
  border: 1px solid #565656;
  border-top-color: #cbcbcb;
  border-left-color: #a5a5a5;
  border-right-color: #a5a5a5;
  border-bottom: 0;
}

// This fixes a bug with lines of code not lining up with their line numbers.
// Caused by the fact that bootstrap sets font-size to 13px.
// which affects the line-height of the span elements that make up the lines of code
// this causes the lines to be smaller than they should be.
// .highlight code is the exact selector that is used to set the line-height
// Override bootstrap
.highlight code {
  font-size: 13px;
}
// END Octopress specific

h1, h2, h3 {
  line-height: 40px;
}

h1,h2,h3,h4,h5,h6 {
  text-rendering: optimizeLegibility;
  font-family: $bodyFonts; // BOOTSTRAP OVERRIDE
  font-weight: bold; //BOOTSTRAP OVERRIDE
}

a {
  color:$linkColor;

  &:hover {
    color: $linkHoverColor;
  }
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

 //Bootstrap OVERRIDE
 .img-thumbnail {
  padding:0;
 }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

s, strike, del {
  text-shadow: none;
}

.subtext {
  // color: $subFontColor;
}

.title .title-subdue {
  font-weight: lighter;
}

h1 {
  margin-bottom: 15px;
  font-size: 2.7em;
}
h2 {
  font-size: 29.5px;
}

.entry-title {
  margin-top: 0;
}

.fullwidth {
  width: 100% !important;
}

.plus {
  display: inline;
}

.inline {
  display: inline;
}

.no-margin {
  margin: 0 !important;
}

.inline-block {
  display: inline-block !important;
}

.force-hide {
  display: none !important;
}

.nowrap {
  white-space: nowrap;
}

.invisible {
  visibility: hidden;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
