$baseFontSize:1.3em;

$contentLineHeight:1.4em;

$backgroundColor:#F5FAFF;
$fontColor:#2E2E2E;
$subFontColor:#454545;

$bodyFonts: 'Source Sans Pro',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$headerFonts: 'Roboto Slab',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$buttonBorderRadius:10px;

$buttonColor: rgb(2,163,201);//rgb(20,133,204);//rgb(203, 78, 78);
$buttonShadowColor: rgb(2, 135, 166);
$buttonShadowWidth: 6px;

$linkColor: rgb(0,120,166);//rgb(143, 199, 227);
$linkHoverColor: rgb(0,40,80);

$footerHeight:50px;

$footerLinkColor: $linkColor;
$footerLinkHoverColor: $linkHoverColor;

$footerBgColor: rgb(235,245,250);
$wellBgColor: $footerBgColor;//rgba(135,205,234,0.2);

//Experiment with a multi-fonted header
    // <section class="span8 centered" role="banner">
    //   <h1>I'm <span class="name">Brian Chu</span>,</h1>
    //   <h2 class="inline">a <span class="tech">JavaScript</span> <span class="font">front-end</span> </h2><h2 class="plus">+</h2><h2 class="inline"> <span class="back">back-end</span> <span class="engi">engineer</span>.</h2>
    // </section>

// .name {
//   font-family:'Raleway';
// }
// .tech {
//   font-family: 'Vegur';
// }

// .front {
//   font-family: 'Sansation';
// }

// .back {
//   font-family: 'Lora';
// }
// .engi {
//   font-family: 'Helvetica Neue';
// }