$baseFontSize:18px;

$contentLineHeight:1.4;

$bgImage: url('../../images/diamond_upholstery.png');
$backgroundColor:#fafafa;
$headerBgColor: $backgroundColor;
$headerFontColor:none;
$fontColor:#26343C;
$subFontColor:#454545;
$buttonTextColor: $backgroundColor;

$bodyFonts: 'Source Sans Pro',"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$buttonBorderRadius:4px;
$buttonColor: #ee6768;
$buttonShadowColor: #BE4B4C;
$buttonShadowWidth: 6px;
$buttonWidth: 195px;

$searchWidth:$buttonWidth + 6px;

$linkColor: #1C94B3;
$linkHoverColor: #1A7991;

$footerHeight:50px;

$footerLinkColor: $linkColor;
$footerLinkHoverColor: $linkHoverColor;

$wellBgColor: $backgroundColor;
$wellShadow: #d3d3d3;
$wellBorderColor: $wellShadow;

$sideItemWidth: 250px;

$footerBgColor: $wellBgColor;

$profilePicRadius: $buttonBorderRadius + 6px;
$sideAffixMarginTop: 20px;

$navbarBg: $fontColor;
$navbarHeight: 70px;

$zMenuBtn: 2;
$zSidebarAffix: 2;
$zFixedTop: 3;
$zNavDropdown: 100;


//Experiment with a multi-fonted header
    // <section class="span8 centered" role="banner">
    //   <h1>I'm <span class="name">Brian Chu</span>,</h1>
    //   <h2 class="inline">a <span class="tech">JavaScript</span> <span class="font">front-end</span> </h2><h2 class="plus">+</h2><h2 class="inline"> <span class="back">back-end</span> <span class="engi">engineer</span>.</h2>
    // </section>

// .name {
//   font-family:'Raleway';
// }
// .tech {
//   font-family: 'Vegur';
// }

// .front {
//   font-family: 'Sansation';
// }

// .back {
//   font-family: 'Lora';
// }
// .engi {
//   font-family: 'Helvetica Neue';
// }