@import '_variables.scss';
@import '_text.scss';
@import '_email_signup.scss';
@import '_buttons_icons.scss';

html {
  min-height:100%;
  position:relative; //needed for footer
}

body {
  margin-bottom: $footerHeight; //hack for sticky footers
  background-color:$backgroundColor;
  font-family: $bodyFonts;
  color:$fontColor;
  padding-bottom:70px;
  font-size:$baseFontSize;
}

// content line-height and font-size and hacks to get around em stacking
._content {
  line-height: $contentLineHeight;
  margin-bottom:20px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
}
.content-row {
  letter-spacing:0px;
  line-height: $contentLineHeight;

  // Content elements:
  p {
    @extend ._content;
  }
  .span8 {
    ul, ol {
      @extend ._content;
    }
    li {
      line-height: $contentLineHeight;
    }
  }
}

.container-fluid{
  margin: 0 auto;

  padding: 0 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row-fluid {
  box-sizing:border-box;
  margin-top: 40px;
  padding: 0 3%;
}

header.row-fluid {
  /*background: url('../../background-edit.jpg') no-repeat center center;*/
  /*background-size: cover;*/
  /*background-color:#F5FAFF;*/
  /*background-color: rgba(245, 250, 255, 0.9);*/

  border-bottom: 1px solid gray;
  margin-top:40px;
  box-shadow: 0 4px 2px -3px gray; // x-off, y-off, blur-radius, spread (neg = shrink)
  padding: 20px 3%;
}

.span4 {
  text-align:right;
  display:inline-block;

  section {
    text-align:left;
    box-sizing:border-box;
    max-width: 300px;
    margin-left: auto;
  }
}

// guideline: keep line width to between 50-75 characters
.span8 {
  margin: 0 auto;
  padding-left:10px;
}

.content-row .span8 {
  max-width: 700px;
  padding-right:0;
}

aside .well {
  border:0;
  background:$wellBgColor;
  box-shadow:inset 1px 1px 2px $sidebarWellShadow;
  border-radius:10px;
  padding-bottom:25px;
}

section.sidebar-nav {
  text-align:center;
}

.nav-list {
  padding-right: 15px + $buttonShadowWidth;
  li:first-child {
    margin-top: 0;
  }
  li {
    margin-top: 15px;
  }
}

form.collapse {
  clear:both;
  margin-bottom: 0;
}

form.in.collapse {
  margin-top:50px;
  clear:both;
}

.contact-checkbox {
  margin-top: 10px;
}

.pager, article footer {
  text-align: right;
}

footer.row-fluid{
  position:absolute;
  bottom:0;
  margin-top: 50px;
  padding-top:10px;
  font-size: 0.95em;
  text-align: center;
  width:100%; // position absolute causes element's width to shink to contents, which breaks text align, so we set width
  background: $footerBgColor;
  vertical-align:bottom;

  ul {
    display:block;
    line-height:0px;
  }
  li {
    padding-top:10px;
    margin-right:30px;
  }
  a {
    color: $footerLinkColor
  }
  a:hover {
    color:$footerLinkHoverColor;
  }
}

.profile-pic-container {
  text-align: right;
}

#profile-pic {
  border-radius: $buttonBorderRadius + 10px;
  margin-right: 2px;
}

@import '_responsive.scss';
