@import '_variables.scss';
@import '_email_signup.scss';

html {
  min-height:100%;
  position:relative;
}

h1,h2,h3,h4,h5,h6 {
  text-rendering: optimizeLegibility;
}

// BEGIN Octopress specific
.sharing, .meta, .pager {
  margin: 20px 0px 20px 0px;
}
.page-footer p {
  text-align: center;
}
td.code {
  vertical-align:top;
}

// This fixes a bug with lines of code not lining up with their line numbers.
// Caused by the fact that bootstrap sets font-size to 13px.
// which affects the line-height of the span elements that make up the lines of code
// this causes the lines to be smaller than they should be.
// .highlight code is the exact selector that is used to set the line-height
// Override bootstrap
.highlight code {
  font-size: 13px;
}
// END Octopress specific

body {
  margin-bottom: $footerHeight; //hack for sticky footers
  background-color:$backgroundColor;
  font-family: $bodyFonts;
  color:$fontColor;
  padding-bottom:40px;
}

a {
  color:$linkColor;
}

// content line-height and font-size and hacks to get around em stacking
._content {
  line-height: $contentLineHeight;
  margin-bottom:20px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
}

div.content {
  letter-spacing:0px;
  line-height: $contentLineHeight;

  // Content elements:
  p {
    @extend ._content;
  }
  div.centered .entry-content {
    font-size: $baseFontSize;
    ul, ol {
      @extend ._content;
    }
    li {
      line-height: $contentLineHeight;
    }
  }
}

header {
  font-family: $headerFonts;
}

header.row-fluid {
  /*background: url('../../background-edit.jpg') no-repeat center center;*/
  /*background-size: cover;*/
  /*background-color:#F5FAFF;*/
  /*background-color: rgba(245, 250, 255, 0.9);*/
  // border-radius:10px;

  border-bottom: 1px solid gray;
  margin-top:40px;
  box-shadow: 0 4px 2px -3px gray; /*x-off, y-off, blur-radius, spread (neg = shrink)*/
  padding: 20px 50px;
}

h1 {
  margin-bottom: 15px;
  font-size: 3.5em;
}

.btn {
  font-family: $bodyFonts;
  font-size:1.1em;
}

form.collapse {
  margin-top:50px;
  clear:both;
}

.container-fluid{
  margin: 0 auto;

  padding: 0 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

.filler::after {
    background-color: inherit;
    bottom: 0;
    content: "";
    right: 0;
    position: absolute;
    top: 0;
    width: inherit;
    z-index: -1;
}

/*Profile pic*/
.profile-pic-container {
  text-align: right;
}

#profile-pic {
  border-radius:40px;
  margin-right: 20px;
}

.span4 .sidebar{
  max-width: 300px;
  display:inline-block;
  text-align: left;
}

.span4 {
  text-align: right;
}
@media (max-width: 767px) {
  .span4 {
    text-align: left
  }
}

.sidebar .well {
  p {
    font-size:$baseFontSize;
  }
  border:0;
  background:$wellBgColor;
  box-shadow:inset 1px 1px 2px rgba(135,205,234,0.15);
  border-radius:10px;
}

.sidebar-nav {
  font-size: 1.2em;
  text-align:center;
}

.nav-list {
  padding-right: 15px + $buttonShadowWidth;
}

form.contact-form {
  margin-top:70px;
}

.contact-checkbox {
  margin-top: 10px;
}

.row-fluid {
  box-sizing:border-box;
  margin-top: 40px;
  padding: 0 50px;
}
@media (max-width: 320px) {
  .row-fluid {
    padding:0;
  }
}

.row-fluid.content {
  overflow:hidden;
}

.row-fluid.content:after{
  content:'';
  clear:both;
}


// guideline: keep line width to between 50-75 characters
.span8 {
  margin: 0 auto;

 .centered {
    padding-right: 20%; // override in media query
    max-width: 700px;
  }
}

.span8 .pager{
  padding-right:20%;
  text-align:right;
}

.plus {
  display: inline;
}

.inline {
  display: inline;
}

.footer-row {
  //goes with container-fluid negative margin hack
  height:$footerHeight;
  position:absolute;
  bottom:0;
  margin-top: 50px;
  padding-top:10px;
  font-size: 1.2em;
  text-align: center;
  width:100%; // position absolute causes element's width to shink to contents, which breaks text align, so we set width
  background: $footerBgColor;
  vertical-align:bottom;

  ul {
    padding-top:10px;
    display:block;
    line-height:0px;
  }
  li {
    margin-right:30px;
  }
  a {
    color: $footerLinkColor
  }
  a:hover {
    color:$footerLinkHoverColor;
  }
}


.nav>li>a:hover {
  background-color: $buttonColor;
}

li a.slidebtn {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;

  -webkit-box-shadow: $buttonShadowColor 6px 0px 0px 0px;
  background-color: $buttonColor;
  border-radius:$buttonBorderRadius; //used to be 5px
  box-shadow: $buttonShadowColor 6px 0px 0px 0px;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: normal;
  margin-bottom: 15px;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
  outline-width: 0px;
  padding: 20px 120px 20px 40px;
  position: relative;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  width: 233px;
  height:60px;
  word-spacing: 0px;
}

.slidebtn:hover {
  box-shadow: 4px 0 $buttonShadowColor;
  left: 2px;
}

a.slidebtn:focus, .slidebtn:active, .slidebtn.active {
  box-shadow: 0 0 $buttonShadowColor;
  left: $buttonShadowWidth;
}

li a.slideout {
  /*background-color: rgb(242, 158, 13);*/
  /*display: inline-block;*/
  /*font-size: 16px;*/
  /*font-weight: bold;*/
  /*height: 69px;*/
  /*letter-spacing: 1px;*/
  /*padding-bottom: 25px;*/
  /*padding-left: 120px;*/
  /*padding-right: 150px;*/
  /*padding-top: 25px;*/
  /*position: relative;*/
  /*text-transform: uppercase;*/
  /*-webkit-transition: all 0.3s;*/
  /*-moz-transition: all 0.3s;*/
  /*transition: all 0.3s;*/
  /*width: 264px;*/
}

.slideout:before {
  background: #fff;
  z-index: 2;
  border-radius: 0px 10px 10px 0px; // my change, also hack to fix bg from peeking out
  //border-radius: 10px 0 0 10px;
  position: absolute;
  height: 100%;
  right:0; // my change
  //left: 0; // my change
  top: 0;
  line-height: 2.6;
  font-size: 160%;
  width: 60px;
  content:'';


  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

/*
beaker: F0C3
bolt: F0E7
cloud: F0C2
inbox: F01C
lightbulb: F0EB
github: F113, F09B, F092
archive: F187;
envelope: F0E0
comments: F086
bullhorn: F0A1
comment: F075
envelop-alt: F003
rocket: F135
user: F007
*/

.icon:before {
  z-index: 2;
  position: absolute;
  height: 100%;
  right:0;
  top: 0;
  line-height: 2.6;
  font-size: 160%;
  width: 60px;
  content:'';

  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.blog-icon:before {
  content: "\F0E7";
  color:white;
}

.projects-icon:before {
  content: "\F0C3";
  color:white;
}

.user-icon:before {
  content: "\F007";
  color:white;
}

.git-icon:before {
  content: "\F113";
  color:$buttonColor;
}

.twitter-icon:before {
  content: "\F099";
  color:$buttonColor;
}

// .slideout:after, .slideout:before {
//     -webkit-transform:rotate(-1deg) translate(0,-1px);
//        -moz-transform:rotate(-1deg) translate(0,-1px);
//         -ms-transform:rotate(-1deg) translate(0,-1px);
//          -o-transform:rotate(-1deg) translate(0,-1px);
//             transform:rotate(-1deg) translate(0,-1px);
// }

// .slideout:before{
//     // margin-bottom:5px;
//     // left:10px;
//     // width:50%;
//     // height:20%;
//     // max-width:300px;
//     // posti
//     // bottom:5px;
//     -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.7);
//        -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.7);
//             box-shadow:3px 3px 5px rgba(0, 0, 0, 0.7);
// }

// .slideout:hover:before {
//   @extend .slideout:before
//    -webkit-transform:rotate(-5deg) translate(0,-1px);
//        -moz-transform:rotate(-5deg) translate(0,-1px);
//         -ms-transform:rotate(-5deg) translate(0,-1px);
//          -o-transform:rotate(-5deg) translate(0,-1px);
//             transform:rotate(-5deg) translate(0,-1px);
// }

//diamond
.slideout:after {
  // -webkit-box-shadow:5px 1px 3px rgba(0, 0, 0, 0.5);
  //    -moz-box-shadow:5px 1px 3px rgba(0, 0, 0, 0.5);
  //         box-shadow:5px 1px 3px rgba(0, 0, 0, 0.5);

  width: 20px;
  height: 20px;
  background: #fff;
  z-index: 1;
  /*left: 55px;*/ /*my change*/
  right:50px;
  top: 50%;
  margin: -10px 0 0 -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

  content: '';
  position: absolute;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
