@import '_variables.scss';
@import '_text.scss';
@import '_buttons_icons.scss';

// Drop shadows
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

html {
  min-height:100%;
  position:relative; //needed for footer
}

body {
  margin-bottom: $footerHeight; //hack for sticky footers
  background-color:$backgroundColor;
  font-family: $bodyFonts;
  color:$fontColor;
  padding-bottom:70px;
  font-size:$baseFontSize;
}

// content line-height and font-size and hacks to get around em stacking
._content {
  line-height: $contentLineHeight;
  margin-bottom:20px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
}
.content-row {
  letter-spacing:0px;
  line-height: $contentLineHeight;

  // Content elements:
  p {
    @extend ._content;
  }
  .span8 {
    ul, ol {
      @extend ._content;
    }
    li {
      line-height: $contentLineHeight;
    }
  }
}


// cannot set percentage (fluid) padding on container nor row, since this will create problems for the sticky sidebar
.container-fluid{
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.row-fluid {
  padding: 0;
  margin-top: 40px;
  box-sizing:border-box;
}

header.row-fluid {
  // background: url('../../background-edit.jpg') no-repeat center center;
  // background-size: cover;
  // background-color:#F5FAFF;
  // background-color: rgba(245, 250, 255, 0.9);

  border-bottom: 1px solid gray;
  margin-top:40px;
  box-shadow: 0 4px 2px -3px gray; // x-off, y-off, blur-radius, spread (neg = shrink)
  padding: 20px 3%;
}

.span4 {
  text-align:right;
  display:inline-block;

  section {
    text-align:left;
    box-sizing:border-box;
    width:250px;
  }

  &.affix {
    top: 20px;
    z-index:2;
  }
  &.sidebar {
    margin-left: 0;
  }
}

// hack - a placeholder aside that ensures proper page flow after the regular aside is stickified
.clear-affix {
  position: absolute;
  margin-left:0 !important;
  &.affix {
    position:static;
  }
}

// guideline: keep line width to between 50-75 characters
.span8 {
  margin: 0 auto;
  padding-left:10px;
}

.content-row .span8 {
  max-width: 700px;
  padding-right:0;
}

aside .well {
  border:0;
  background:$wellBgColor;
  box-shadow:inset 1px 1px 2px $sidebarWellShadow;
  border-radius:10px;
  padding-bottom:25px;
}

.well.clear-well {
  text-align: right;
  background: none;
  margin:0;
  padding-top:0px;
  margin-right:2px;
  min-width: 0;
  width:auto;
  border: 0;
  box-shadow: 0 0 0;
}

input, textarea, select {
  &.defer-invalid:focus:invalid {
    color: #555;
    border-color: rgba(82,168,236,.8);
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6));
  }
}

.search-form {
  margin-bottom: 7px;
}

section.sidebar-nav {
  text-align:center;
}

.sidebar-centering {
  display: inline-block;
}

.nav-list {
  padding-right: 15px + $buttonShadowWidth;
  li:first-child {
    margin-top: 0;
  }
  li {
    margin-top: 15px;
  }
}

.contact-modal {
  text-align: left;
  form {
    margin:0;
  }

  .modal-footer {
    background-color: $wellBgColor;
    text-align: center;
  }

  input[type='submit'] {
    width: 70% !important;
    min-width: 200px;
  }
}

.contact-checkbox {
  margin-top: 10px;
}

.page-header {
  padding-bottom: 0;
  margin-bottom: 10px;
}

.pager, article footer {
  text-align: right;
}

footer.end-footer {
  position:absolute;
  bottom:0;
  margin-top: 50px;
  padding-top:10px;
  font-size: 0.95em;
  width:100%; // position absolute causes element's width to shink to contents, which breaks text align, so we set width
  background: $footerBgColor;
  vertical-align:bottom;

  ul {
    display:block;
    line-height:0px;
    margin-bottom: 10px;
  }
  li {
    padding-top:10px;
    margin-right:30px;
  }
  a {
    color: $footerLinkColor
  }
  a:hover {
    color:$footerLinkHoverColor;
  }
}

.profile-pic-container {
  text-align: right;
}

#profile-pic {
  border-radius: $buttonBorderRadius + 10px;
  margin-right: 6px;
}

@import '_responsive.scss';
